<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I am the App Component</h3>
      <hr>
      <!--<div app-servers></div> by attribute-->
      <!--<div class="app-servers"></div> by class-->
      <app-servers></app-servers> <!--by style-->
    </div>
  </div>
</div>
